In [5]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib as plt
df = pd.read_csv (r'C:\Users\tauqe\Documents\Python33\assignment1\Ruter_data.csv',error_bad_lines=False)
print (df)

     TurId;Dato;Fylke;Område;Kommune;Holdeplass_Fra;Holdeplass_Til;Linjetype;Linjefylke;Linjenavn;Linjeretning;Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra;Tidspunkt_Faktisk_Avgang_Holdeplass_Fra;Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra;Tidspunkt_Planlagt_Avgang_Holdeplass_Fra;Kjøretøy_Kapasitet;Passasjerer_Ombord
0     15006-2020-08-10T10:24:00+02:00;10/08/2020;Vik...
1     15002-2020-08-15T12:54:00+02:00;15/08/2020;Vik...
2     15004-2020-08-03T09:54:00+02:00;03/08/2020;Vik...
3     15003-2020-07-27T13:00:00+02:00;27/07/2020;Vik...
4     15002-2020-08-27T07:15:00+02:00;27/08/2020;Vik...
...                                                 ...
5973  10001-2020-06-10T15:10:00+02:00;10/06/2020;Vik...
5974  10010-2020-06-23T05:54:00+02:00;23/06/2020;Vik...
5975  2007-2020-06-11T17:22:00+02:00;11/06/2020;Oslo...
5976  10004-2020-08-13T04:59:00+02:00;13/08/2020;Osl...
5977  34013-2020-08-05T13:31:00+02:00;05/08/2020;Vik...

[5978 rows x 1 columns]

b'Skipping line 769: expected 1 fields, saw 2\nSkipping line 1870: expected 1 fields, saw 2\nSkipping line 2333: expected 1 fields, saw 2\nSkipping line 2979: expected 1 fields, saw 2\nSkipping line 3120: expected 1 fields, saw 2\nSkipping line 3207: expected 1 fields, saw 2\nSkipping line 3216: expected 1 fields, saw 2\nSkipping line 3461: expected 1 fields, saw 2\nSkipping line 3510: expected 1 fields, saw 2\nSkipping line 3975: expected 1 fields, saw 2\nSkipping line 4161: expected 1 fields, saw 2\nSkipping line 4176: expected 1 fields, saw 2\nSkipping line 4307: expected 1 fields, saw 2\nSkipping line 4357: expected 1 fields, saw 2\nSkipping line 4660: expected 1 fields, saw 2\nSkipping line 4840: expected 1 fields, saw 2\nSkipping line 5026: expected 1 fields, saw 2\nSkipping line 5288: expected 1 fields, saw 2\nSkipping line 5595: expected 1 fields, saw 2\nSkipping line 5769: expected 1 fields, saw 2\nSkipping line 5803: expected 1 fields, saw 2\nSkipping line 5950: expected 1 fields, saw 2\n'

In [6]:

df = pd.DataFrame(data, columns= ['Dato','Fylke','Område','Kommune','TurId'])
print (df)

      Dato  Fylke  Område  Kommune  TurId
0      NaN    NaN     NaN      NaN    NaN
1      NaN    NaN     NaN      NaN    NaN
2      NaN    NaN     NaN      NaN    NaN
3      NaN    NaN     NaN      NaN    NaN
4      NaN    NaN     NaN      NaN    NaN
...    ...    ...     ...      ...    ...
5973   NaN    NaN     NaN      NaN    NaN
5974   NaN    NaN     NaN      NaN    NaN
5975   NaN    NaN     NaN      NaN    NaN
5976   NaN    NaN     NaN      NaN    NaN
5977   NaN    NaN     NaN      NaN    NaN

[5978 rows x 5 columns]